<div class="h-screen flex items-center justify-center">
    <div class="bg-white w-[90%] max-w-[900px] mx-auto p-4 rounded-md">
        <form autocomplete="off" >

            <h2 class="text-center font-semibold mt-6 mb-8 text-2xl">Inicio de sesión</h2>

            <!-- <div class="w-full mb-4">
                <label for="usuario" class="block mb-2"> Nombre de usuario </label>
                <input class="block border border-black w-full px-2 py-1 rounded-md"
                       type="text" name="usuario" id="usuario" placeholder="angeldev07">
            </div> -->

            <div class="w-full mb-4">
                <label for="usuario" class="block mb-2"> Correo </label>
                <input class="block border border-black w-full px-2 py-1 rounded-md"
                       type="email" name="usuario" id="usuario" placeholder="example@gmail.com">
            </div>

            <div class="w-full mb-6">
                <label for="usuario" class="block mb-2"> Contraseña </label>
                <input class="block border border-black w-full px-2 py-1 rounded-md"
                       type="password" name="usuario" id="usuario" placeholder="*******">
            </div>

            <div class="flex items-center">
                <button class="bg-green-500 text-white mx-auto font-semibold px-4 py-1 rounded-md hover:bg-green-600 transition-colors">Iniciar sesión </button>
            </div>

        </form>
    </div>  
</div>
